html {
    font-size: 16px;
}

body *{
    font-family: '小塚ゴシック Pro L',' Meiryo UI', 'メイリオ', 'ＭＳ ゴシック', 'sans-serif';
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.4rem;
    line-height: 1.7rem;
}

h3 {
    font-size: 1.2rem;
    line-height: 1.5rem;
}

p {
    font-size: 1.0rem;
    line-height: 1.3rem;
}

table {
    text-align: right;
}

table, th, td{
    padding: 5px !important;
    vertical-align: middle;
}

button {
    padding: 10px 20px;
    border: solid 2px floralwhite;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: bisque;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}
